<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>
	<h1>Student Details</h1>

	<dl class="dl-horizontal">
		<dt>Student Id</dt>
		<dd th:text="${student.id}">id</dd>
		<dt>Name</dt>
		<dd th:text="${student.name}">Name</dd>
		<dt>Email</dt>
		<dd th:text="${student.email}">Email</dd>
		<dt>Course</dt>
		<dd th:text="${student.course}">Course</dd>
		<dt>College</dt>
		<dd th:text="${student.college}">College</dd>
	</dl>

	<div style="height: 2cm">&nbsp;</div>

	<div style="text-align: right">
		Options: <a th:href="@{/}">Home</a> | <a
			th:href="@{/students/}">Student Search</a>
	</div>

	<div th:replace="footer :: copy"></div>
</body>
</html>
